table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 20px;
    text-align: center;
}


.first-cell {
    background-color: #8bc34a; 
    color: white;
}

.second-cell {
    background-color: #ff7043; 
    color: white;
}


@media (max-width: 600px) {
    th, td {
        padding: 10px;
        font-size: 12px;
    }
}

